<ion-view view-title="Setting">
    <ion-content>
        <div style="text-align: center;">
            <h1>Current Settings</h1>
            <p>Near Range: {{NV}}</p>
            <div class="change-form">
                <div class="card">
                    <div class="list">
                        <label class="item item-input">
                            <input type="number" placeholder="Enter New Near Range" ng-model="form.NNV">
                        </label>
                    </div>
                </div>
                <div class="padding-left padding-right">
                    <button class="button button-block action-button button-positive" ng-click="submitForm(form.NNV)">
                        Change
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
